#loginForm {   
    width: 500px;    
}

#funcionarioCadastro {
    
}

#pacienteCadastro {
    width: 850px;
}

#usuarioCadastro {
    
}

#sintomaCadastro {
    
}

#funcionarioLista {
    width: 1000px;
}

.formGeral {
    background-color: #414141;
    box-shadow: black 3px 3px 10px;
    margin-top: 5em;
    margin-bottom: 5em;
    border-radius: 30px;
    width: 700px;
}